body {
    padding: 0;
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    background-color: #191a1a
}

/*bar navigation*/
nav{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: black;
    color: #ffff;
    padding: 0 25px;
}

nav .gauche {
    display: flex;
    flex-wrap: wrap;
}

nav .gauche img{
    padding-top: 5px;
}

nav .gauche .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

nav .gauche .onglets p{
    margin-left: 10px;
    cursor:pointer;
    color: #808080
}

nav .gauche .onglets p:hover{
    color: #ffffff;
}

/* Les films et séries */
.jeux {
    background-color: #191a1a;
    padding: 25px;
}

.jeux .section {
    margin-bottom: 5px;
}

.jeux .section h2 {
    color: #fff;
}

.jeux .section .list {
    display: flex;
    overflow-x: auto;
}

.jeux .section a {
    padding-left: 5px;
    transition: transform 0.25s;
}

.jeux .section a:hover {
    transform: scale(1.05);
}

.jeux .section a img {
    height: 140px;
}
/* Fin des films et séries */

/* Pied de page */
footer {
    background-color: #000;
    padding: 25px 100px;
    color: #909191;
}

footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Fin du pied de page */

A {
    text-decoration: none;
}