/*css main*/


body
{
  font-family: sans-serif;
  background-color: #ffffff;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}

h1
{
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

a
{
  font-weight: bold;
}

li
{
  float: left;
}

p
{
  text-align: center;
}

button
{

}